{{> navbar}}
<div class="section-content">
  <h1 class="section-header"> <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Translate</span> kirill-lotin</h1>
  <h3>Matnni kititing va <b>TRANSLATE</b> ni bosing</h3>
</div>
<div class="contact-section">
  <div class="container">
    <form action="/" method="POST">
      <div class="col-lg-6 form-line">
        <div class="form-group"> 
          <label for ="from"> Matnni kiriting:</label>
        </div>
        <div class="form-group">
          <textarea  class="form-control" id="original" name="text" placeholder="Original matningiz" rows="10">{{original}}</textarea>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group"> 
          <label for ="from"> Natija:</label>
        </div>
        <div class="form-group">
          <textarea  class="form-control" id="translated" placeholder="Tayyor bo'lgan natija" rows="10">{{result}}</textarea>
        </div>
      </div><br>
      <div>
        <center>
          <button class="btn btn-success submit"><i class="fa fa-globe" aria-hidden="true"></i>Translate</button>
        </center>
      </div>
    </form>
  </div>
</div>
<div class="mb-5"></div>

{{>footer}}